.navbar-default{
	background-color: $primaryColor;
	border-color: $primaryColor;
	.navbar-brand{
		color: $secondaryColor;
	}
}
.navbar-toggle{
	border-color: $secondaryColor !important;
	.icon-bar{
		background-color: $secondaryColor !important;
	}
	&:hover{
				background-color: $backgroundColor !important;
	}
}
.navbar-nav a{
    color: $secondaryColor !important;
}
.navbar-nav a:hover{
    color: $primaryColor !important;
    background-color:$secondaryColor !important ;

}
